@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@1,300&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,300&display=swap');

* { /* Resentando as propriedades CSS do navegador */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
/*     height: 190vh; */
    font-family: "Source Sans Pro", 'Times New Roman';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* HEADER */

header {
    background-color: #0080ed;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 80px;
    margin: auto;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.15);
}

header .container img {
    height: 30px;
}

/* MAIN */

main {
    margin-bottom: 100px;
}

main .container-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 100px auto 0px auto;
}

h2 {
    color: rgb(0,0,0);
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
}

h3 {
    color: rgb(131,131,131);
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0px;
}

form {
    margin-top: 20px;
}

form input {
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid #0080ed;
}

form [type="submit"] { /* Estilizando apenas os botoes com o tipo submit */
    background-color: #0080ed;
    color: white;
}

form [type="submit"]:hover {
    cursor: pointer;
}

main .container-main img {
    width: 600px;
}

/* CARDS */

.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.text--medium {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400px;
    color: rgb(187,185,185);
}

.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #000000;
    transition: all 0.3s ease 0s;
}

.card:hover {
    transform: translateY(-7px);
}

.image {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.image img {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.content {
    margin: 20px;
}

.title {
    margin-bottom: 0px;
}

/* FORMULARIO DE CONTATO */

#form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 160px;
    margin-top: 80px;
    text-align: center;
    background-color: #0080ed;
    padding: 120px 0px;
}

#form h2,
.social-icon {
    width: 40rem;
    font-size: 38px;
    color: white;
}

#devBy {
    font-family: 'Anybody', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    color: white;
    font-size: 18px;
}

#devBy a {
    color: white;
}

#form .social-icon a i {
    color: white;
}

/* #form form {
    display: flex;
    flex-direction: column;
} */

/* #form form input {
    width: 280px;
    padding-left: 15px;
    font-size: 14px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid #0080ed;
} */

/* #form form input:nth-child(3) {
    background-color: white;
    color: rgb(94, 94, 94);
} */